
.navdata{
text-align: left;
font-size: large;
width: 70%;
}
.container{
    width: 100%;
}
.data{
    
    width: 100%;
    height: auto;
    text-align: center;

}
.register{
    margin-left: 5px;
    width:20%;
    height: auto;
    display:inline-block;
    padding: 4px;
   
}
.button{
    text-align: center;
    
}
.footer{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.errorData{
    text-align: center;
    color: red;
}